
<script>
'use strict';
$(() => {

  const post = (url) => {
    $('<form>', {
      method: 'post',
      action: url
    }).hide().appendTo($('body')).submit().remove();
  };

  const level_password = $('#level_password');
  const pay = $('button#pay');
  const error_box = $('#error-box');

  const partial = (i) => { return i.val().trim().length != 6; };
  const enable_button = () => {
    error_box.empty();
    pay.prop('disabled', partial(level_password));
  };
  level_password.on('input', enable_button);

  pay.click(() => {
    const params = $.param({ level_password:level_password.val().trim() });
    level_password.empty();
    post(`/consulting?${params}`);
  });

  pay.prop('disabled', true);

});
</script>

<div id="heading">
    Consulting
</div>

LevelPassword:
<input id="level_password" type="text" name="level_password" maxlength="6" value="">

<div id="button-box">
  <button type="button" id="pay">Pay</button>
</div>

<div id="error-box">
  <%= @error %>
</div>